body{
    display: flex;
    justify-content:  center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 600px;
    border: 10px solid black;
}

.display{
  display: flex;
  flex:1;
  height: 110px;
  background-color: aliceblue;
  border: 20px solid black;
  border-bottom: 80px solid black;
  font-size: 50px;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}
.buttons{
    display: flex;
    flex-direction: column;
    flex:4;
    justify-content: space-between;
    border-radius: 8px;
}

.spl{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
}

.normal{
    display: flex;
    flex:4;
}

.sub-but{
    display:flex;
    flex: 1;
    flex-direction: column;
}
.spl .sub-but{
    flex-direction: row;
}

button{
    display:flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: darkgrey;
}