body{
    display: flex;
    justify-content:  center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 600px;
    border: 10px solid black;
    border-radius: 5px;
}

.wholedisplay{
  display: flex;
  flex:1;
  background-color: aliceblue;
  border: 20px solid black;
  border-bottom: 80px solid black;
  overflow: hidden;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}

.minidisplay{
    display: flex;
    flex:1.5;
    min-width: 100%;
    background-color: lightgray;
    font-size: 30px;
    align-items: end;
    justify-content: end;
}

.display{
    display: flex;
    flex:2.5;
    font-size: 50px;
    align-items: end;
    justify-content: end;
}


.buttons{
    display: flex;
    flex-direction: column;
    flex:4;
    gap:1px;
    justify-content: space-between;
    background-color: #454545;
    
}

.spl{
    display: flex;
    flex:1;
}

.normal{
    display: flex;
    flex:4;
}

.sub-but{
    display:flex;
    flex: 1;
    flex-direction: column;
}

.spl .sub-but{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.spl .sub-but button{
    flex:1;
    background-color: blueviolet;
}

.normal .op button{
   background-color: darkorange;
}

button{
    display:flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: darkgrey;
    border-radius: 8px;
}